<html>
<head>
	<title>Shoes</title>
</head>
<body>
	<h1>{{ store.getName }}</h1>
	
	{% if brands is not empty %}
		<p>Here are the brands for this Brand:</p>
		<ul>
			{% for brand in brands %}
				<li>{{ brand.getName }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	
	<h4>Add a brand that is carrying this Brand</h4>
	
	<form action='/add_brands' method='post'>
		<input id="store_id" name="store_id" type="hidden" value="{{ store.getId() }}">
		<label for="brand_id">Select a brand </label>
		<select name="brand_id" id="brand_id" type="text">
			{% for brand in all_brands %}
				<option value="{{ brand.getId }}"> {{ brand.getName }} </option>
			{% endfor %}
		</select>
		<button type='submit'>Add brand</button>
	</form>
	
	<p><a href='/stores/{{ store.getId }}/edit'>Edit this Store</a></p>
	
	<p><a href='/'>Home</a></p>
</body>
</html>